HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Ignore application.properties to prevent committing secrets
src/main/resources/application.properties

# Ignore .env file
.env

# .env
GOOGLE_CLIENT_ID=338642491925-qg34s1slqkrd3a95il5ck1d7lbrju6jd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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